<section id="award">
<div class="container">
  <h3>Awards</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	 <ol>
		<li><p style="color: #000000;">
			I was awarded a gold medal for the outstanding performance as one of the most productive reviewers in the past 7 years (2014-2020)
                                          from IEEE Transactions on Instrumentation and Measurement. <br><br>
			<img src="{{ site.baseurl }}award/award2020.jpg" width="360"><br><br>
		</p></li>
		<li><p style="color: #000000;">
			I was recognized as one of the outstanding reviewers by the
			IEEE Transactions on Instrumentation and Measurement. (2017-2019).
		</p></li>
	</ol>
    </div>
</div>
</section>