<section id="award">
<div class="container">
  <h3>Awards</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	 <ol>
		<li>
			We are now hiring research interns, M.S. and Ph.D students at UST or collaborative academic degree programs with KIST, Yonsei Univ. and Korea Univ., who are interested in multi-person 3D pose tracking and action recognition with a single RGB camera.
		</li>
		<li><p style="color: #000000;">
		 Email: chocopiue@kist.re.kr
		</li>
	</ol>
    </div>
</div>
</section>