<section id="contact">
<div class="container">
  <h3>Contact</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    
    	<p>
      C411, the 3rd engineering building, Yonsei university,<br>
      50 Yonsei-ro, Seodaemun-Gu, Seoul, 120-749, Korea. <br><br>

      mimo (AT) yonsei (DOT) ac (DOT) kr. <br>

 <!--    	INRIA - WILLOW / &Eacute;cole Normale Superi&eacute;ure <br>
        Centre de recherche Inria de Paris<br>
        2 rue Simone IFF<br>
        CS 42112<br>
        75589 Paris Cedex 12<br>
        <br>
        bumsub.ham (at) inria.fr, bumsub.ham (at) ens.fr -->
        </p>                 

    </div>
  </div>
</div>
</section>

