<section id="lecture">
<div class="container">
  <h5>UST Course Fall Semester 2025</h5>
  <h4>Fundamentals of Deep Learning and Programming</h4>
  <div class="panel panel-default">
    <div class="panel-body">
	 <ol>
		  <li><p style="color: #000000;"><span style="color:rgb(13, 13, 14); font-weight: bold;">Week 1 (9.05):</span>
		  Course overview 
			<a style="color: #FFFFFF;" target="_blank" href="lecture\0.overview.pdf"> <kbd>pdf</kbd></a>
       and introduction to Python programming
       <a style="color: #FFFFFF;" target="_blank" href="lecture\1.python.pdf"> <kbd>pdf</kbd></a>
       <li><p style="color: #000000;"><span style="color:rgb(13, 13, 14); font-weight: bold;">Week 2 (9.12):</span>
		  Useful Python Libraries 
			<a style="color: #FFFFFF;" target="_blank" href="lecture\2.useful.pdf"> <kbd>pdf</kbd></a>
       and code
       <a style="color: #FFFFFF;" target="_blank" href="lecture\lec02.zip"> <kbd>zip</kbd></a>
       <li><p style="color: #000000;"><span style="color:rgb(13, 13, 14); font-weight: bold;">Week 3 (9.19):</span>
		  Neural Network Basics (1)
			<a style="color: #FFFFFF;" target="_blank" href="lecture\3.basic.pdf"> <kbd>pdf</kbd></a>
      and code
      <a style="color: #FFFFFF;" target="_blank" href="lecture\lec03.zip"> <kbd>zip</kbd></a>
      <li><p style="color: #000000;"><span style="color:rgb(13, 13, 14); font-weight: bold;">Week 4 (9.26):</span>
			 Neural Network Basics (2)
			<a style="color: #FFFFFF;" target="_blank" href="lecture\4.basic.pdf"> <kbd>pdf</kbd></a>
       and code
      <a style="color: #FFFFFF;" target="_blank" href="lecture\lec04.zip"> <kbd>zip</kbd></a>
      <li><p style="color: #000000;"><span style="color:rgb(13, 13, 14); font-weight: bold;">Week 5 (10.10):</span>
			 Convolutional Neural Network (CNN) (1)
			<a style="color: #FFFFFF;" target="_blank" href="lecture\5.cnn.pdf"> <kbd>pdf</kbd></a>
       and code
      <a style="color: #FFFFFF;" target="_blank" href="lecture\lec05.zip"> <kbd>zip</kbd></a>
       <li><p style="color: #000000;"><span style="color:rgb(13, 13, 14); font-weight: bold;">Week 6 (10.24):</span>
			 Midterm exam 
			<a style="color: #FFFFFF;" target="_blank" href="lecture\midterm.pdf"> <kbd>pdf</kbd></a>
      and the solution
      <a style="color: #FFFFFF;" target="_blank" href="lecture\sol_midterm2025.pdf"> <kbd>pdf</kbd></a>
      <li><p style="color: #000000;"><span style="color:rgb(13, 13, 14); font-weight: bold;">Week 7 (10.31):</span>
		  Convolutional Neural Network (CNN) (2) and Introduction to Natural Language Processing (NLP)
			<a style="color: #FFFFFF;" target="_blank" href="lecture\6.cnn_nlp.pdf"> <kbd>pdf</kbd></a>
      <li><p style="color: #000000;"><span style="color:rgb(13, 13, 14); font-weight: bold;">Week 8 (11.14):</span>
		  Introduction to Natural Language Processing (NLP)(1)
			<a style="color: #FFFFFF;" target="_blank" href="lecture\7.nlp.pdf"> <kbd>pdf</kbd></a>
      and code
      <a style="color: #FFFFFF;" target="_blank" href="lecture\lec07.zip"> <kbd>zip</kbd></a>
      <li><p style="color: #000000;"><span style="color:rgb(13, 13, 14); font-weight: bold;">Week 9 (11.21):</span>
		  Introduction to Natural Language Processing (NLP)(2) and Attention Mechanism
			<a style="color: #FFFFFF;" target="_blank" href="lecture\8.nlp_attention.pdf"> <kbd>pdf</kbd></a>
      ,and code
      <a style="color: #FFFFFF;" target="_blank" href="lecture\lec08.zip"> <kbd>zip</kbd></a>
      <li><p style="color: #000000;"><span style="color:rgb(13, 13, 14); font-weight: bold;">Week 10 (11.28):</span>
		  Transformer (1)
			<a style="color: #FFFFFF;" target="_blank" href="lecture\9.transformer.pdf"> <kbd>pdf</kbd></a>
      ,and code
      <a style="color: #FFFFFF;" target="_blank" href="lecture\lec09.zip"> <kbd>zip</kbd></a>
      <li><p style="color: #000000;"><span style="color:rgb(13, 13, 14); font-weight: bold;">Week 11 (12.05):</span>
		  Transformer (2)
			<a style="color: #FFFFFF;" target="_blank" href="lecture\10.transformer.pdf"> <kbd>pdf</kbd></a>
      </li>
	</ol>
    </div>
</div>
</section>