<section id="lecture">
<div class="container">
  <h2>UST Course 2025 Fall Semester</h2>
  <h3>Fundamentals of Deep Learning and Programming</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	 <ol>
	  <li>
      <strong>Week 1: Course overview and introduction to Python programming</strong>
      <a class="download-btn" href="lec01.pdf" download>📄 download</a>
    </li>
    <!--
	<li>
      <strong>2주차: 선형 회귀와 로지스틱 회귀</strong><br>
      <a class="download-btn" href="lecture02.pdf" download>📄 강의자료 다운로드</a>
    </li>
    <li>
      <strong>3주차: 신경망 기초</strong><br>
      <a class="download-btn" href="lecture03.pdf" download>📄 강의자료 다운로드</a>
    </li>
     필요에 따라 추가 -->
	</ol>
    </div>
</div>
</section>