<section id="lecture">
<div class="container">
  <h5>UST Course Fall Semester 2025</h5>
  <h4>Fundamentals of Deep Learning and Programming</h4>
  <div class="panel panel-default">
    <div class="panel-body">
	 <ol>
		  <li><p style="color: #000000;"><span style="color:rgb(13, 13, 14); font-weight: bold;">Week 1:</span>
		  Course overview 
			<a style="color: #FFFFFF;" target="_blank" href="lecture\0.overview.pdf"> <kbd>pdf</kbd></a>
       and introduction to Python programming
    </li>
    <!--
    -->
	</ol>
    </div>
</div>
</section>