<section id="members">
<div class="container">
  <h3>Members</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    
      <p><a target="_blank" href="https://chanhoeom.github.io/">Chanho Eom</a> (M.S./Ph.D. student)</p>
    	<p><a target="_blank" href="https://jun0kim.github.io/">Beomjun Kim</a> (M.S./Ph.D. student)</p>  
      <p><a target="_blank" href="https://hyunjp.github.io/">Hyunjong Park</a> (M.S./Ph.D. student)</p> 
      <p>Jongyoon Noh (M.S./Ph.D. student)</p>
      <p><a target="_blank" href="https://shape-kim.github.io/">Dohyung Kim</a> (M.S./Ph.D. student)</p> 
      <p>Junghyup Lee (M.S./Ph.D. student)</p>  


    </div>
  </div>
</div>
</section>



