<section id="members">
<div class="container">
  <h3>Members</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    
      <h5>Integrated M.S./Ph.D. student
        </h5>  

      <p><a target="_blank" href="https://chanhoeom.github.io/">Chanho Eom</a> (BS in EE, Yonsei university)</p>
    	<p><a target="_blank" href="https://jun0kim.github.io/">Beomjun Kim</a> (BS in CS, Yonsei university) </p>  
      <p><a target="_blank" href="https://hyunjp.github.io/">Hyunjong Park</a> (BS in EE, Yonsei university) </p> 
      <p>Jongyoon Noh (BS in EE, Yonsei university)</p>
      <p><a target="_blank" href="https://shape-kim.github.io/">Dohyung Kim </a>(BS in EE, Yonsei university) </p> 
      <p>Junghyup Lee (BS in EE, Yonsei university)</p>  
      <p>Youngmin Oh (BS in EE, Yonsei university)</p> 
      <p>Sanghoon Lee (BS in EE, Yonsei university)</p> 
      <p><a target="_blank" href="https://kascia.github.io/">Wonkyung Lee</a> (BS in EE, Yonsei university)</p>
      <p>Geon Lee (BS in EE, Yonsei university)</p> 
      <p>Donghyeon Baek (BS in EE, Yonsei university, entering Spring 2020)</p> 
      <p>Jaehyeon Moon (BS in EE, Yonsei university, entering Spring 2020)</p> 
    </div>
  </div>
</div>
</section>



 