<section id="publications">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    
    	<h4>Journals </h4>  
        <ol>

	  <li><p style="color: #000000;">Je Hyeong Hong, Donghoon Kang, and Ig-Jae Kim, 
                        &ldquo;<b>Robust Autocalibration of Triaxial Magnetometers,</b>&rdquo;
	<a style="color: #FFFFFF;" target="_blank" href="publication\Journal\robust-autocal-mag-2020.pdf"> <kbd>pdf</kbd></a>
                <em style="color: #000000;">IEEE Transactions on Instrumentation and Measurement</em> (accepted).</p></li>

	<li><p style="color: #000000;">Donghoon Kang, Cheongjae Jang, and Frank C. Park, 
                        &ldquo;<b>Unscented Kalman Filtering for Simultaneous Estimation of Attitude and Gyroscope Bias,</b>&rdquo;
                <a style="color: #FFFFFF;" target="_blank" href="publication\Journal\ukf-2019.pdf"> <kbd>pdf</kbd></a>
                <em style="color: #000000;">IEEE/ASME Transactions on Mechatronics, </em>vol. 24, no. 1, 2019.</p></li>

            <li><p style="color: #000000;">Min-Koo Kang, Hoang-Phong Nguyen, Donghoon Kang, Soon-Gi Park, and Sung-Kyu Kim, 
                        &ldquo;<b>Adaptive Viewing Distance in Super Multi-View Displays using Aperiodic 3-D Pixel Location and Dynamic View Indices,</b>&rdquo;
                <a style="color: #FFFFFF;" target="_blank" href="publication\Journal\adaptive-viewing-distance-2018.pdf"> <kbd>pdf</kbd></a>
                <em style="color: #000000;">OSA, Optics Express, </em> vol. 26, no. 16, 2018.</p></li>

            <li><p style="color: #000000;">Donghoon Kang, 
                        &ldquo;<b>Covariance Analysis for Evaluating Head Trackers,</b>&rdquo;
                <a style="color: #FFFFFF;" target="_blank" href="publication\Journal\covariance-analysis-2017.pdf"> <kbd>pdf</kbd></a>
                <em style="color: #000000;">SPIE, Optical Engineering,</em> vol. 56, no. 10, 2017.</p></li>

            <li><p style="color: #000000;">Donghoon Kang, Jinwook Kim, and Sung-Kyu Kim,
                    &ldquo;<b>Affine Registration of Three-Dimensional Point Sets for Improving the Accuracy of Eye Position Trackers,</b>&rdquo;
            <a style="color: #FFFFFF;" target="_blank" href="publication\Journal\affine-registration-2017.pdf"> <kbd>pdf</kbd></a>
            <em style="color: #000000;">SPIE, Optical Engineering, </em> vol. 56, no. 4, 2017.</p></li>
        
            <li><p style="color: #000000;">Junhyoung Ha, Donghoon Kang, and Frank C. Park,
                    &ldquo;<b>A Stochastic Global Optimization Algorithm for the Two-Frame Sensor Calibration Problem,</b>&rdquo;
                <a style="color: #FFFFFF;" target="_blank" href="publication\Journal\stochastic-global-optimization-2015.pdf"> <kbd>pdf</kbd></a>
                <em style="color: #000000;">IEEE Transactions on Industrial Electronics, </em> vol. 63, no. 4, 2016.</p></li>
        </ol>

		<h2></h2>
        <h4>Conferences</h4>
        <ol>
                <li><p style="color: #000000;">Yujin Jung, Donghoon Kang, and Jinwook Kim,
                        &ldquo;<b>Upper Body Motion Tracking with Inertial Sensors,</b>&rdquo;
                <a style="color: #FFFFFF;" target="_blank" href="publication\Conf\upperBody-inertial-sensors-2010.pdf"> <kbd>pdf</kbd></a>
                <em style="color: #000000;">IEEE ROBIO,</em> Tianjin, China, 2010.</p></li>

                <li><p style="color: #000000;">Jung-Young Son, Sergey A. Shestak, Vladmir P. Huschyn, Vitaliy A. Ulizko, and Donghoon Kang,
                        &ldquo;<b>Live 3-D Video in Volumetric Display,</b>&rdquo;
                <a style="color: #FFFFFF;" target="_blank" href="publication\Conf\video-volumetric-display-2002.pdf"> <kbd>pdf</kbd></a>
                <em style="color: #000000;">SPIE Proceeding,</em> San Jose, California, United States, 2002.</p></li>
        </ol>
    </div>
</div>
</section>