<section id="publications">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    
    	<h4>International Journals </h4>  
        <ol>

            <li><p style="color: #000000;">Min-Koo Kang, Hoang-Phong Nguyen, Donghoon Kang, Soon-Gi Park, and Sung-Kyu Kim, 
                        &ldquo;<b>Adaptive Viewing Distance in Super Multi-View Displays using Aperiodic 3-D Pixel Location and Dynamic View Indices,</b>&rdquo;
                <em style="color: #000000;">OSA, Optics Express (accepted), </em> 2018.</p></li>

            <li><p style="color: #000000;">Donghoon Kang, 
                        &ldquo;<b>Covariance Analysis for Evaluating Head Trackers,</b>&rdquo;
                <a style="color: #FFFFFF;" target="_blank" href="publication\Journal\covariance-analysis-2017.pdf"> <kbd>pdf</kbd></a>
                <em style="color: #000000;">SPIE, Optical Engineering,</em> vol. 56, no. 10, 2017.</p></li>

            <li><p style="color: #000000;">Donghoon Kang, Jinwook Kim, and Sung-Kyu Kim,
                    &ldquo;<b>Affine Registration of Three-Dimensional Point Sets for Improving the Accuracy of Eye Position Trackers,</b>&rdquo;
            <a style="color: #FFFFFF;" target="_blank" href="publication\Journal\affine-registration-2017.pdf"> <kbd>pdf</kbd></a>
            <em style="color: #000000;">SPIE, Optical Engineering, </em> vol. 56, no. 4, 2017.</p></li>
        
            <li><p style="color: #000000;">Junhyoung Ha, Donghoon Kang, and Frank C. Park,
                    &ldquo;<b>A Stochastic Global Optimization Algorithm for the Two-Frame Sensor Calibration Problem,</b>&rdquo;
                <a style="color: #FFFFFF;" target="_blank" href="publication\Journal\stochastic-global-optimization-2015.pdf"> <kbd>pdf</kbd></a>
                <em style="color: #000000;">IEEE Tran. Industrial Electronics, </em> vol. 63, no. 4, 2016.</p></li>
     <!--   * Officially integrated into <a style="color: #27A822;"  target="_blank" href="http://docs.opencv.org/master/de/d13/classcv_1_1ximgproc_1_1FastGlobalSmootherFilter.html#gsc.tab=0">OpenCV 3.1</a>.  -->  
        
            <li><p style="color: #000000;">Sungkuk Chun, Donghoon Kang, Hyeong-Rae Choi, Anjin Park, Ki-Kwang Lee, and Jinwook Kim,
                    &ldquo;<b>A Sensor-aided Self Coaching Model for Uncocking Improvement in Golf Swing,</b>&rdquo;
            <a style="color: #FFFFFF;" target="_blank" href="publication\Journal\self-coaching-2014.pdf"> <kbd>pdf</kbd></a>
            <em style="color: #000000;">Springer, Multimedia Tools and Applications, </em> vol. 72, no. 1, 2014.</p></li>

        </ol>

		<h2></h2>
        <h4>International Conferences</h4>
        <ol>
              <!--  <li><p style="color: #000000;">Anjin Park, Yujin Jung, Sungkuk Chun, Donghoon Kang, and Jinwook Kim, 
                        &ldquo;<b>Track and Move or Move and Track? : Bi-directional Interplay between Tracking and Ride Simulator,</b>&rdquo;
                <em style="color: #000000;">IEEE ICISA, </em> 2011.</p></li>

                <li><p style="color: #000000;">Anjin Park, Hyeong Rae Choi, Yujin Jung, Sungkuk Chun, Donghoon Kang, and Jinwook Kim,
                        &ldquo;<b>Bidirectional Interplay between Tracking and the Rider Simulator and Its Application to Snowboarding,</b>&rdquo;
                <em style="color: #000000;">IEEE DMDCM,</em> 2011.</p></li>  -->

                <li><p style="color: #000000;">Yujin Jung, Donghoon Kang, and Jinwook Kim,
                        &ldquo;<b>Upper Body Motion Tracking with Inertial Sensors,</b>&rdquo;
                <em style="color: #000000;">IEEE ROBIO,</em> 2010.</p></li>

                <li><p style="color: #000000;">Jung-Young Son, Sergey A. Shestak, Vladmir P. Huschyn, Vitaliy A. Ulizko, and Donghoon Kang,
                        &ldquo;<b>Live 3-D Video in Volumetric Display,</b>&rdquo;
                <em style="color: #000000;">SPIE Proceeding,</em> 2002.</p></li>
        </ol>

       <h2></h2>
       <h4>Domestic Journals</h4>
       <ol>
       <li><p style="color: #000000;">Yu.N. Gruts, Jung-Young Son, and Donghoon Kang,
            &ldquo;<b>Stereoscopic Operators and Their Application,</b>&rdquo;
        <a style="color: #FFFFFF;" target="_blank" href="publication\Journal\stereroscopic-operator-2001.pdf"> <kbd>pdf</kbd></a>
        <em style="color: #000000;">Journal of the Optical Society of Korea (JOSK), </em> vol. 5, no. 3, 2001.</p></li>
       </ol>
    </div>
</div>
</section>

