<section id="publications">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    
    	<h4>Journal
        </h4>  
        <p style="color: #999999;">Chanho Eom, Hyunjong Park, and Bumsub Ham.<br>
        <b style="color: #000000;">Temporally Consistent Depth Prediction with Flow-Guided Memory Units</b><br>
        <em> IEEE Trans. Intell. Transp. Syst.</em> (<b style="color: #000000;">ITS</b>) (accepted).</p>

        </h4>  
        <p style="color: #999999;">Changjae Oh, Bumsub Ham, Hansung Kim, Adrian Hilton and Kwanghoon Sohn.<br>
        <b style="color: #000000;">OCEAN: Object-Centric Arranging Network for Self-supervised Visual Representations Learning</b><br>
         <em> Expert Systems with Applications</em> (<b style="color: #000000;">ESWA</b>), vol. 125, no. 7, pp. 281-292, Jul. 2019.</p>

        <p style="color: #999999;">Youngjung Kim, Bumsub Ham, Minh N. Do and Kwanghoon Sohn<br>
        <b style="color: #000000;">Structure-Texture Image Decomposition using Deep Variational Priors</b><br>
        <em> IEEE Trans. Image Process.</em> (<b style="color: #000000;">TIP</b>), vol. 28, no. 6, pp. 2692-2704, Jun. 2019.</p>

        <p style="color: #999999;">Seungryong Kim, Dongbo Min, Bumsub Ham, Stephen Lin, and Kwanghoon Sohn<br>
        <b style="color: #000000;">FCSS: Fully Convolutional Self-Similarity for Dense Semantic Correspondence</b>
        <a style="color: #FFFFFF;" target="_blank" href="http://diml.yonsei.ac.kr/~srkim/FCSS/"> <kbd>project</kbd></a><br>
         <em> IEEE Trans. Pattern Anal. Mach. Intell.</em> (<b style="color: #000000;">TPAMI</b>), vol. 41, no. 3, pp. 581-595, Mar. 2019.</p>


        <p style="color: #999999;">Bumsub Ham, Minsu Cho, Cordelia Schmid, and Jean Ponce<br>
        <b style="color: #000000;">Proposal Flow: Semantic Correspondences from Object Proposals</b>
        <!-- <a style="color: #FFFFFF;" target="_blank" href=""> <kbd>pdf</kbd></a> -->
        <a style="color: #000000;" target="_blank" href="https://arxiv.org/abs/1703.07144"> <kbd>arXiv</kbd></a>
        <a style="color: #FFFFFF;" target="_blank" href="http://www.di.ens.fr/willow/research/proposalflow/"> <kbd>project</kbd></a><br>
        <em> IEEE Trans. Pattern Anal. Mach. Intell.</em> (<b style="color: #000000;">TPAMI</b>), vol. 40, no. 7, pp. 1711-1725, Jul. 2018.</p>
        

        <p style="color: #999999;">Bumsub Ham, Minsu Cho, and Jean Ponce<br>
        <b style="color: #000000;">Robust Guided Image Filtering Using Nonconvex Potentials</b>
        <a style="color: #FFFFFF;" target="_blank" href="publication\tpami2018\2018-tpami-sd_filter.pdf"> <kbd>pdf</kbd></a>
        <a style="color: #FFFFFF;" target="_blank" href="http://www.di.ens.fr/willow/research/sdfilter/"> <kbd>project</kbd></a><br>
        <em> IEEE Trans. Pattern Anal. Mach. Intell.</em> (<b style="color: #000000;">TPAMI</b>), vol. 40, no. 1, pp. 192-207, Jan. 2018.</p>
		
		<p style="color: #999999;">Seungryong Kim, Dongbo Min, Bumsub Ham, Minh N. Do, and Kwanghoon Sohn<br>
        <b style="color: #000000;">DASC: Robust Dense Descriptor for Multi-modal and Multi-spectral Correspondence Estimation</b>
        <a style="color: #FFFFFF;" target="_blank" href="publication\tpami2017\2017-tpami-dasc.pdf"> <kbd>pdf</kbd></a>
        <a style="color: #FFFFFF;" target="_blank" href="http://diml.yonsei.ac.kr/~srkim/DASC/"> <kbd>project</kbd></a><br>
        <em> IEEE Trans. Pattern Anal. Mach. Intell.</em> (<b style="color: #000000;">TPAMI</b>), vol. 39, no. 9, pp. 1712-1729, Sep. 2017.</p>
        
        <p style="color: #999999;">Youngjung Kim, Dongbo Min, Bumsub Ham, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Fast Domain Decomposition for Global Image Smoothing</b>
        <a style="color: #FFFFFF;" target="_blank" href="publication\tip2017\2017-tip-fast_gis.pdf"> <kbd>pdf</kbd></a><br> 
        <em> IEEE Trans. Image Process.</em> (<b style="color: #000000;">TIP</b>), vol. 26, no. 8, pp. 4079-4091, Aug. 2017.</p>

        <p style="color: #999999;">Changjae Oh, Bumsub Ham, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Robust Interactive Image Segmentation Using Structure-Aware Labeling</b>
        <a style="color: #FFFFFF;" target="_blank" href="publication\eswa2017\2017-eswa-segmentation.pdf"> <kbd>pdf</kbd></a><br>
        <em> Expert Systems with Applications</em> (<b style="color: #000000;">ESWA</b>), vol. 79, no. 8, pp. 90-100, Aug. 2017.</p>

        <p style="color: #999999;">Youngjung Kim, Bumsub Ham, Changjae Oh, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Structure selective depth super-resolution for RGB-D cameras</b>
        <a style="color: #FFFFFF;" target="_blank" href="publication\tip2016\depth_sr_tip2016.pdf"> <kbd>pdf</kbd></a><br>
        <em> IEEE Trans. Image Process.</em> (<b style="color: #000000;">TIP</b>), vol. 25, no. 11, pp. 5227-5238, Nov. 2016.</p>

		<p style="color: #999999;">Hunjae Yoo, Jongin Son, Bumsub Ham, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Real-Time Rear Obstacle Detection Using Reliable Disparity for Driver Assistance</b><br>
        <em> Expert Systems with Applications</em> (<b style="color: #000000;">ESWA</b>), vol. 56, no. 9, pp. 186-196, Sep. 2016.</p>

 		<p style="color: #999999;">Sunghwan Choi, Dongbo Min, Bumsub Ham, Youngjung Kim, Changjae Oh, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Depth Analogy: Data-driven Approach for Single Image Depth Estimation using Gradient Samples</b>
        <a style="color: #FFFFFF;" target="_blank" href="publication\tip2015\da_tip2015.pdf"> <kbd>pdf</kbd></a><br>
        <em> IEEE Trans. Image Process.</em> (<b style="color: #000000;">TIP</b>), vol. 24, no. 12, pp. 5953-5966, Dec. 2015.</p>

        <p style="color: #999999;">Sunghwan Choi, Dongbo Min, Bumsub Ham, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Unsupervised Texture Flow Estimation Using Appearance-Space Clustering and Correspondence</b>
        <a style="color: #FFFFFF;" target="_blank" href="publication\tip2015\tflow_tip2015.pdf"> <kbd>pdf</kbd></a><br>
        <em> IEEE Trans. Image Process.</em> (<b style="color: #000000;">TIP</b>), vol. 24, no. 11, pp. 3652-3665, Nov. 2015.</p>
        
        <p style="color: #999999;">Changjae Oh, Bumsub Ham, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Visual Fatigue Relaxation for Stereoscopic Video via Nonlinear Disparity Remapping</b> 
        <a style="color: #FFFFFF;" target="_blank" href="publication\tb2015\disp_remapping_tb2015.pdf"> <kbd>pdf</kbd></a><br>
        <em> IEEE Trans. Broadcast.</em> (<b style="color: #000000;">TB</b>), vol. 61, no. 2, pp. 142-153, Jun. 2015.</p>
 
        <p style="color: #999999;">Bumsub Ham, Dongbo Min, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Depth Super-Resolution by Transduction</b>
        <a style="color: #FFFFFF;" target="_blank" href="publication\tip2015\depth_sr_tip2015.pdf"> <kbd>pdf</kbd></a>
        <a style="color: #FFFFFF;" target="_blank" href="depthsr\index.html"> <kbd>project</kbd></a><br>
        <em> IEEE Trans. Image Process.</em> (<b style="color: #000000;">TIP</b>), vol. 24, no. 5, pp. 1524-1535, May 2015.</p>
 
        <p style="color: #999999;">Dongbo Min, Sunghwan Choi, Jiangbo Lu, Bumsub Ham, Kwanghoon Sohn, and Minh N. Do <br>
        <b style="color: #000000;">Fast Global Image Smoothing Based on Weighted Least Squares</b>
        <a style="color: #FFFFFF;" target="_blank" href="publication\tip2014\fast_wls_tip2014.pdf"> <kbd>pdf</kbd></a>
        <a style="color: #FFFFFF;" target="_blank" href="https://sites.google.com/site/globalsmoothing/"> <kbd>project</kbd></a><br>
        <em> IEEE Trans. Image Process.</em> (<b style="color: #000000;">TIP</b>), vol. 23, no. 12, pp. 5638-5653, Dec. 2014.<br>
        * Officially integrated into <a style="color: #27A822;"  target="_blank" href="http://docs.opencv.org/master/de/d13/classcv_1_1ximgproc_1_1FastGlobalSmootherFilter.html#gsc.tab=0">OpenCV 3.1</a>.    
        </p>

       <p style="color: #999999;">Seungryong Kim, Bumsub Ham, Bongjo Kim, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Mahalanobis Distance Cross-Correlation for Illumination Invariant Stereo Matching</b>
        <a style="color: #FFFFFF;" target="_blank" href="publication\tcsvt2014\md_stereo_tcsvt2014.pdf"> <kbd>pdf</kbd></a><br>
        <em>IEEE Trans. Circuits Syst. Video Technol.</em> (<b style="color: #000000;">TCSVT</b>), vol. 24, no. 11, pp. 1844-1859, Nov. 2014.</p>

        <p style="color: #999999;">Bumsub Ham, Dongbo Min, Changjae Oh, Minh N. Do, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Probability-Based Rendering for View Synthesis</b>
        <a style="color: #FFFFFF;" target="_blank" href="publication\tip2014\pbr_TIP2014.pdf"> <kbd>pdf</kbd></a>
        <a style="color: #FFFFFF;" target="_blank" href="pbr\index.html"> <kbd>project</kbd></a><br>
        <em>IEEE Trans. Image Process.</em> (<b style="color: #000000;">TIP</b>), vol. 23, no. 2, pp. 870-884, Feb. 2014. </p>

        <p style="color: #999999;">Bumsub Ham, Dongbo Min, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Generalized Random Walk with Restart and Its Application to Depth Up-sampling and Interactive Segmentation</b> <a style="color: #FFFFFF;" target="_blank" href="publication\tip2013\grwr_TIP2013.pdf"> <kbd>pdf</kbd></a> <br>
        <em>IEEE Trans. Image Process.</em> (<b style="color: #000000;">TIP</b>),  vol. 22, no. 7, pp. 2574-2588, Jul. 2013. </p>

        <p style="color: #999999;">Sunghwan Choi, Bumsub Ham, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Space-time Hole Filling with Random Walks in View Extrapolation for 3-D Video</b>
        <a style="color: #FFFFFF;" target="_blank" href="publication\tip2013\rw_inpainting_TIP2013.pdf"> <kbd>pdf</kbd></a>
        <a style="color: #FFFFFF;" target="_blank" href="http://diml.yonsei.ac.kr/shch/holefilling/"> <kbd>project</kbd></a><br>
        <em>IEEE Trans. Image Process.</em> (<b style="color: #000000;">TIP</b>),  vol. 22, no. 6, pp. 2429-2441, Jun. 2013.</p>

        <p style="color: #999999;">Bumsub Ham, Dongbo Min, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Revisiting the Relationship between Adaptive Smoothing and Anisotropic Diffusion with Modified Filters</b> <a style="color: #FFFFFF;" target="_blank" href="publication\tip2013\relation_as_ad_TIP2013.pdf"> <kbd>pdf</kbd></a> <br>
        <em>IEEE Trans. Image Process.</em> (<b style="color: #000000;">TIP</b>),  vol. 22, no. 3, pp. 1096-1107, Mar. 2013.</p>

        <p style="color: #999999;">Bumsub Ham, Dongbo Min, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Robust Scale Space Filter using Second-Order Partial Differential Equations</b> <a style="color: #FFFFFF;" target="_blank" href="publication\tip2012\the_rss_TIP2012.pdf"> <kbd>pdf</kbd></a> <br>
        <em>IEEE Trans. Image Process.</em> (<b style="color: #000000;">TIP</b>), vol. 21, no. 9, pp. 3937-3951, Sep. 2012.</p>


		<h2></h2>
        <h4>Conference</h4>
        <p style="color: #999999;">Chanho Eom, Bumsub Ham<br>
        <b style="color: #000000;">Learning Disentangled Representation for Robust Person Re-identification</b><br>
        <!-- <a style="color: #000000;" target="_blank" href="https://arxiv.org/abs/1904.01810"> <kbd>arXiv</kbd></a>
        <a style="color: #FFFFFF;" target="_blank" href="https://cvlab-yonsei.github.io/projects/SFNet/"> <kbd>project</kbd></a><br> -->
        in <em>Adv. Neural Inf. Process. Syst.</em> (<b style="color: #000000;">NeurIPS</b>), Dec. 2019. 
        </p>

        <p style="color: #999999;">Junghyup Kim*, Dohyung Kim*, Jean Ponce, Bumsub Ham<br>
        <b style="color: #000000;">SFNet: Learning Object-aware Semantic Correspondence</b>
        <a style="color: #000000;" target="_blank" href="https://arxiv.org/abs/1904.01810"> <kbd>arXiv</kbd></a>
        <a style="color: #FFFFFF;" target="_blank" href="https://cvlab-yonsei.github.io/projects/SFNet/"> <kbd>project</kbd></a><br>
        in <em>Proc. IEEE Conf. Comput. Vis. Pattern Recognit.</em> (<b style="color: #000000;">CVPR</b>), Jun. 2019. (Oral presentation)
        </p>

        <p style="color: #999999;">Kai Han, Rafael S. Rezende, Bumsub Ham, Kwan-Yee K. Wong, Minsu Cho, Cordelia Schmid, Jean Ponce<br>
        <b style="color: #000000;">SCNet: Learning Semantic Correspondence</b>
        <!-- <a style="color: #FFFFFF;" target="_blank" href="publication\cvpr2016\pf-cvpr2016.pdf"> <kbd>pdf</kbd></a> -->
        <a style="color: #000000;" target="_blank" href="https://arxiv.org/abs/1705.04043"> <kbd>arXiv</kbd></a>
        <a style="color: #FFFFFF;" target="_blank" href="http://www.di.ens.fr/willow/research/scnet/"> <kbd>project</kbd></a><br>
        in <em>Proc. IEEE Int. Conf. Comput. Vis.</em> (<b style="color: #000000;">ICCV</b>), Oct. 2017.</a>
        </p>

        <p style="color: #999999;">Sunok Kim, Dongbo Min, Bumsub Ham, Seungryong Kim, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Deep Stereo Confidence Prediction for Depth Estimation</b><br>
        in <em>Proc. IEEE Int. Conf. Image Process.</em> (<b style="color: #000000;">ICIP</b>), Sep. 2017.</a>
        </p>

        <p style="color: #999999;">Sunghun Joung, Seungryong Kim, Bumsub Ham, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Unsupervised Stereo Matching using Correspondence Consistency</b><br>
        in <em>Proc. IEEE Int. Conf. Image Process.</em> (<b style="color: #000000;">ICIP</b>), Sep. 2017.</a>
        </p>

        <p style="color: #999999;">Somi Jeong, Seungryong Kim, Bumsub Ham, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Convolutional Cost Aggregation for Robust Stereo Matching</b><br>
        in <em>Proc. IEEE Int. Conf. Image Process.</em> (<b style="color: #000000;">ICIP</b>), Sep. 2017.</a>
        </p>

        <p style="color: #999999;"> Seungryong Kim, Dongbo Min, Bumsub Ham, Sangryul Jeon, Stephen Lin, and Kwanghoon Sohn<br>
        <b style="color: #000000;">FCSS: Fully Convolutional Self-Similarity for Dense Semantic Correspondence</b>
        <a style="color: #000000;" target="_blank" href="https://arxiv.org/abs/1702.00926"> <kbd>arXiv</kbd></a><br>
        in <em>Proc. IEEE Conf. Comput. Vis. Pattern Recognit.</em> (<b style="color: #000000;">CVPR</b>), Jul. 2017.  
       </p>
       
        <p style="color: #999999;"> Changjae Oh, Bumsub Ham, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Point-cut: Interactive Image Segmentation using One-point Supervision</b><br>
        in <em>Proc.  Asian Conf. Comput. Vis.</em> (<b style="color: #000000;">ACCV</b>), Nov. 2016.  
       </p>

        <p style="color: #999999;">Bumsub Ham, Minsu Cho, Cordelia Schmid, and Jean Ponce<br>
            <b style="color: #000000;">Proposal Flow</b>
            <a style="color: #FFFFFF;" target="_blank" href="publication\cvpr2016\pf-cvpr2016.pdf"> <kbd>pdf</kbd></a>
            <a style="color: #000000;" target="_blank" href="http://arxiv.org/abs/1511.05065"> <kbd>arXiv</kbd></a>
            <a style="color: #FFFFFF;" target="_blank" href="http://www.di.ens.fr/willow/research/proposalflow/"> <kbd>project</kbd></a><br>
            in <em>Proc. IEEE Conf. Comput. Vis. Pattern Recognit.</em> (<b style="color: #000000;">CVPR</b>), Jun. 2016.<br>
        </p>

        <p style="color: #999999;">Bumsub Ham, Minsu Cho, and Jean Ponce<br>
            <b style="color: #000000;">Robust Image Filtering Using Joint Static and Dynamic Guidance</b>
            <a style="color: #FFFFFF;" target="_blank" href="publication\cvpr2015\sd-filter-cvpr2015.pdf"> <kbd>pdf</kbd></a>
            <a style="color: #FFFFFF;" target="_blank" href="http://www.di.ens.fr/willow/research/sdfilter/"> <kbd>project</kbd></a><br>
            in <em>Proc. IEEE Conf. Comput. Vis. Pattern Recognit.</em> (<b style="color: #000000;">CVPR</b>), Jun. 2015.
        </p>
        <p style="color: #999999;">Seungryong Kim, Dongbo Min, Bumsub Ham, Seungchul Ryu, Minh N. Do, and Kwanghoon Sohn<br>
            <b style="color: #000000;">DASC: Dense Adaptive Self-Correlation Descriptor for Multi-modal and Multi-spectral Correspondence</b>
            <a style="color: #FFFFFF;" target="_blank" href="publication\cvpr2015\dasc-cvpr2015.pdf"> <kbd>pdf</kbd></a>
            <a style="color: #FFFFFF;" target="_blank" href="http://seungryong.github.io/DASC/"> <kbd>project</kbd></a><br>
            in <em>Proc. IEEE Conf. Comput. Vis. Pattern Recognit.</em> (<b style="color: #000000;">CVPR</b>), Jun. 2015.
        </p>
        <p style="color: #999999;"> Seungryong Kim, Bumsub Ham, Seungchul Ryu, Seon Joo  Kim, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Robust Stereo Matching Using Probabilistic Laplacian Surface Propagation</b><br>
        in <em>Proc.  Asian Conf. Comput. Vis.</em> (<b style="color: #000000;">ACCV</b>), Nov. 2014.  <a style="color: #FFFFFF;" target="_blank" href="publication\accv2014\plsp_accv2014.pdf"> <kbd>pdf</kbd></a>
       </p>

        <p style="color: #999999;"> Seungryong Kim, Seungchul Ryu, Bumsub Ham, Junhyung Kim, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Local Self-Similarity Frequency Descriptor for Multispectral Feature Matching</b><br>
        in <em>Proc. IEEE Int. Conf. Image Process.</em> (<b style="color: #000000;">ICIP</b>), Oct. 2014. <a style="color: #FFFFFF;" target="_blank" href="publication\icip2014\lss_icip2014.pdf"> <kbd>pdf</kbd></a></p>

        <p style="color: #999999;"> Donghyun Kim, Kilsoo Jung, Bumsub Ham, Youngjung Kim, and Kwanghoon Sohn <br>
         <b style="color: #000000;">Normalized Tone-mapping Operators for Color Quality Improvement in 3DTV</b> <br>
        in <em>Proc. IEEE Int. Conf. Industrial Electronics and Applications</em> (<b style="color: #000000;">ICIEA</b>), Jun. 2014.</p>

         <p style="color: #999999;"> Changjae Oh, Bumsub Ham, and Kwanghoon Sohn <br>
         <b style="color: #000000;">Visual Fatigue Prediction and Its Visualization</b> <br>
         <em>Global 3D Tech Forum</em>, Oct. 2013. (Best Paper Award)</p>

        <p style="color: #999999;"> Sunghwan Choi, Bumsub Ham, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Fast Image Retargeting via Axis-aligned Importance Scaling</b><br>
        in <em>Proc. IEEE Int. Conf. Image Process.</em> (<b style="color: #000000;">ICIP</b>), Sep. 2013. <a style="color: #FFFFFF;" target="_blank" href="publication\icip2013\retargeting_icip2013.pdf"> <kbd>pdf</kbd></a></p>

        <p style="color: #999999;"> Seungchul Ryu, Bumsub Ham, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Contextual Information Based Visual Saliency Model</b><br>
        in <em>Proc. IEEE Int. Conf. Image Process.</em> (<b style="color: #000000;">ICIP</b>), Sep. 2013.<a style="color: #FFFFFF;" target="_blank" href="publication\icip2013\saliency_icip2013.pdf"><kbd>pdf</kbd></a></p>

        <p style="color: #999999;"> Seungryong Kim, Hunjae Yoo, Seungchul Ryu, Bumsub Ham, and Kwanghoon Sohn <br>
        <b style="color: #000000;">ABFT: Anisotropic Binary Feature Transform Based on Structure Tensor Space</b><br>
        in <em>Proc. IEEE Int. Conf. Image Process.</em> (<b style="color: #000000;">ICIP</b>), Sep. 2013. (Top 10% of accepted papers)<a style="color: #FFFFFF;" target="_blank" href="publication\icip2013\abft_icip2013.pdf"> <kbd>pdf</kbd></a>
       </p>

        <p style="color: #999999;"> Ruei-Hung Li, Bumsub Ham, Changjae Oh, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Disparity Search Range Estimation Based on Dense Stereo Matching </b><br>
        in <em>Proc. IEEE Int. Conf. Industrial Electronics and Applications</em> (<b style="color: #000000;">ICIEA</b>), Jun. 2013. (Nominated as Best Paper Award)</p>

        <p style="color: #999999;"> Changjae Oh, Bumsub Ham, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Probabilistic Correspondence Matching using Random Walk with Restart</b><br>
        in <em> British Machine Vision Conference</em> (<b style="color: #000000;">BMVC</b>), Sep. 2012.
        <a style="color: #FFFFFF;" target="_blank" href="publication\bmvc2012\rwr_stereo_bmvc2012.pdf"> <kbd>pdf</kbd> </a>
        <a style="color: #FFFFFF;" target="_blank" href="publication\bmvc2012\rwr_stereo_ppt_bmvc2012.pdf"><kbd>ppt</kbd> </a></p>

        <p style="color: #999999;"> Sunghwan Choi, Bumsub Ham, Changjae Oh, Hyon-gon Choo, Kinwoong Kim, and Kwanghoon Sohn <br>
         <b style="color: #000000;">Hybrid Approach for Accurate Depth Acquisition with Structured Light and Stereo Camera</b><br>
         in <em>Proc. IEEE Int. Symposium on Broadband Multimedia Systems and Broadcasting </em> (<b style="color: #000000;">BMSB</b>), Jun. 2012.
         <a style="color: #FFFFFF;" target="_blank" href="publication\bmsb2012\hybrid_stereo_bmsb2012.pdf"> <kbd>pdf</kbd> </a></p>

        <p style="color: #999999;"> Changjae Oh, Bumsub Ham, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Joint Radiometric Calibration and Multi-view Matching with Ground Control Points</b><br>
         in <em>Proc. IEEE Int. Workshop on Advanced Image Technology</em> (<b style="color: #000000;">IWAIT</b>), Jan. 2012. </p>

        <p style="color: #999999;">Bumsub Ham, Dongbo Min, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Cost Aggregation with Anisotropic Diffusion in Feature Space for Hybrid Stereo Matching</b><br>
        in <em>Proc. IEEE Int. Conf. Image Process.</em> (<b style="color: #000000;">ICIP</b>), Sep. 2011.
        <a style="color: #FFFFFF;" target="_blank" href="publication\icip2011\cost_agg_icip2011.pdf"> <kbd>pdf</kbd> </a>
        <a style="color: #FFFFFF;" target="_blank" href="publication\icip2011\cost_agg_ppt_icip2011.pdf"> <kbd>ppt</kbd></a>
        </p>

        <p style="color: #999999;"> Sunghwan Choi, Bumsub Ham, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Hole Filling with Random Walks Using Occlusion Constraints in View Synthesis</b><br>
        in <em>Proc. IEEE Int. Conf. Image Process.</em> (<b style="color: #000000;">ICIP</b>), Sep. 2011.
        <a style="color: #FFFFFF;" target="_blank" href="publication\icip2011\inpainting_icip2011.pdf"> <kbd>pdf</kbd></a>
        </p>

        <p style="color: #999999;"> Jaeseob Choi, Donghyun Kim, Bumsub Ham, Sunghwan Choi, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Visual Fatigue Evaluation and Enhancement for 2D-plus-Depth Video</b><br>
        in <em>Proc. IEEE Int. Conf. Image Process.</em> (<b style="color: #000000;">ICIP</b>), Sep. 2010.
        <a style="color: #FFFFFF;" target="_blank" href="publication\icip2010\fatigue_icip2010.pdf"> <kbd>pdf</kbd> </a>
        </p>

        <p style="color: #999999;">Bumsub Ham, Dongbo Min, Jinwook Choi, and Kwanghoon Sohn <br>
        <b style="color: #000000;">Virtual View Rendering Using Super-Resolution with Multiview Images</b><br>
        in <em>Proc. IEEE Int. Conf. Image Process.</em> (<b style="color: #000000;">ICIP</b>), Nov. 2009.
        <a style="color: #FFFFFF;" target="_blank" href="publication\icip2009\sr_icip2009.pdf"> <kbd>pdf</kbd> </a>
        <a style="color: #FFFFFF;" target="_blank" href="publication\icip2009\sr_ppt_icip2009.pdf"> <kbd>ppt</kbd> </a>
        </p>

        <p style="color: #999999;">Jinwook Choi, Dongbo Min, Bumsub Ham, and Kwanghoon Sohn<br>
        <b style="color: #000000;">Spatial and Temporal Up-Conversion Technique for Depth Video</b><br>
        in <em>Proc. IEEE Int. Conf. Image Process.</em> (<b style="color: #000000;">ICIP</b>), Nov. 2009.
        <a style="color: #FFFFFF;" target="_blank" href="publication\icip2009\tof_icip2009.pdf"><kbd>pdf</kbd></a>
        </p>

       <p style="color: #999999;"> Bumsub Ham, Dongbo Min, and Kwanghoon Sohn<br>
       <b style="color: #000000;">Virtual View Rendering Using Multiple Stereo Images</b><br>
       in <em>Proc. IEEE Int. Workshop on Advanced Image Technology</em> (<b style="color: #000000;">IWAIT</b>), Jan. 2009.
       </p>

       <h2></h2>
       <h4>Thesis</h4>
       <p style="color: #999999;"><b style="color: #000000;">Revisiting the Relationship Between Adaptive Smoothing and Anisotropic Diffusion: Robust Edge-Preserving Regularization Methods and Its Applications</b>
       <a style="color: #FFFFFF;" target="_blank" href="publication\dissertation\dissertation_ham.pdf"> <kbd>pdf</kbd></a>
       <a style="color: #FFFFFF;" target="_blank" href="publication\dissertation\dissertation_ham_beamer.pdf"> <kbd>ppt</kbd></a><br>
       School of Electrical and Electronic Engineering, Yonsei University, Aug. 2013.</p>

    </div>
  </div>
</div>
</section>

