<section id="research">
<div class="container">
  <h3>Research</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	 <ol>
		<li><p style="color: #000000;">
			Multi-person 3D pose tracking with a single RGB camera
			<br><br>
                                          <!-- <img src="{{ site.baseurl }award/award.jpg" width="320"><br><br> -->
			<iframe width="800" height="403" src="https://www.youtube.com/embed/pUs6t-ncU0M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
		</p></li>
		<li><p style="color: #000000;">
			View-invariant human action recognition from a video
		</p></li>
	</ol>
    </div>
</div>
</section>