<section id="teaching">
<div class="container">
  <h3>Teaching</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Fall 2019</h4>  
       <p>Introduction to Artificial Intelligence (EEE3314, Undergrad course)<br>
       </p>

      <h4>Spring 2019</h4>  
      <p> Data Structures and Algorithms (EEE2020, Undergrad course)<br>     
       Signal Processing Lab (EEE4423, Undergrad course)<br>   
       Smart Technologies AIR (ENG2116, Undergrad course)
       </p>

      <h4>Fall 2018</h4>  
       <p>Introduction to Artificial Intelligence (EEE3314, Undergrad course)<br>
       Electrical and Electronic Engineering Experiments: Applications (EEE3313, Undergrad course)
       </p>

      <h4>Spring 2018</h4>  
      <p> Data Structures and Algorithms (EEE2020, Undergrad course)<br>            
       Random Processes (EEE5110, Graduate course)</p>

      <h4>Fall 2017</h4>  
       <p>Digital Image Processing (EEE5320, Graduate course)</p>

      <h4>Spring 2017</h4>  
      <p> Data Structures and Algorithms (EEE2020, Undergrad course)<br>            
       Special Topics in Computer Vision (EEE8330, Graduate course)</p>

    	<h4>Fall 2016</h4>  
      <p> Signals and Systmes (EEE2060, Undergrad course)<br>            
      Random Processes (EEE5110, Graduate course)</p>
       
    </div>
  </div>
</div>
</section>

