<section id="teaching">
<div class="container">
  <h3>Teaching</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    
      <h4>Spring 2017</h4>  
      <p> Data Structures and Algorithms (EEE2020, Undergrad course)<br>            
       Random Processes (EEE5110, Graduate course)</p>

      <h4>Fall 2017</h4>  
       <p>Digital Image Processing (EEE5320, Graduate course)</p>

      <h4>Spring 2017</h4>  
      <p> Data Structures and Algorithms (EEE2020, Undergrad course)<br>            
       Special Topics in Computer Vision (EEE8330, Graduate course)</p>

    	<h4>Fall 2016</h4>  
      <p> Signals and Systmes (EEE2060, Undergrad course)<br>            
      Random Processes (EEE5110, Graduate course)</p>
       
    </div>
  </div>
</div>
</section>

